[submodule "vendor/EasyObjects"]
	path = vendor/EasyObjects
	url = https://github.com/JHeflinger/EasyObjects.git
[submodule "vendor/EasyThreads"]
	path = vendor/EasyThreads
	url = https://github.com/JHeflinger/EasyThreads
[submodule "vendor/EasyLogger"]
	path = vendor/EasyLogger
	url = https://github.com/JHeflinger/EasyLogger.git
